[submodule "markedpersonas"]
	path = markedpersonas
	url = https://github.com/myracheng/markedpersonas.git
[submodule "tanhatahseen"]
	path = tanhatahseen
	url = https://github.com/tanhatahseen/Marked-Personas-Replication-Extension.git
